<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=" + process.env.KEY></script>
    <script type="text/javascript" src="//google-maps-utility-library-v3.googlecode.com/svn/trunk/infobox/src/infobox.js"></script>
  </head>
  <body>
    <header><h1>Current active fires in the U.S.</h1></header>
    {{{body}}}
    <script src='/javascripts/client.js'></script>
  </body>
</html>
