@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400,700);

html {font-size: 1em;}

body {
  line-height: 1.45;
  color: #333;
  font-family: 'Lato';
}

h1, h2, h3 {
  line-height: 1.2;
  font-family: 'Lato';

}

h1 {
  margin-top: 0;
  font-size: 40px;
  color: $white;
  font-weight: 100;
  margin-bottom: 0;
  background: $dark-grey;

}

h2 {
  font-size: 28px;
  color: $dark-grey-muted;
  margin-bottom: 16px;
}

h3 {
  font-size: 20px;
  color: $blue;
  padding-bottom: 6px;
  background-image: url('/images/twitter-logo.png');
  background-size: 32px;
  padding-left: 42px;
  background-repeat: no-repeat;
  background-position: top left;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 16px;
}

a {
  color: $blue;
  text-decoration: none;
}

h4 {
  font-size: 16px;
  margin-bottom: 16px;
  color: $grey;
}


p {
  margin-bottom: 16px;
  color: $dark-grey-muted;
  font-size: 16px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 16px;
}


strong {
  font-weight: bold;
}
