@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400,700);

html {font-size: 1em;}

body {
  line-height: 1.45;
  color: #333;
  font-family: 'Lato'
}

p {
  margin-bottom: 1.3em;
  color: $light-grey;
}

h1, h2, h3, h4 {
  line-height: 1.2;
}

h1 {
  margin-top: 0;
  font-size: 2.074em;
  color: $white;
  font-weight: 100;
  margin-bottom: 0;
  background: $dark-grey;

}

h2 {
  font-size: 1.728em;
  color: $blue;
  margin-bottom: 16px;
  padding-top: 8px;
  padding-left: 48px;
}

h3 {
  font-size: 1.44em;
  color: $grey;
  margin-bottom: 16px;
  a {
    color: $blue;
    text-decoration: none;
  }
}

h4 {font-size: 1.2em;}

small, .font_small {font-size: 0.833em;}
